fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
aiofiles
reportlab
python-docx
openpyxl
pandas
numpy
scikit-learn
pymysql
cryptography
anthropic
pdfplumber
python-dotenv
starlette
email-validator
google-generativeai
groq
pypdf
psycopg2-binary
